<template>
  <div class="home col-lg-12">
    <b-row>
      <b-col cols="2"></b-col>
      <b-col>
        <label>Text 1</label>
        <b-form-input v-model="form.text1"></b-form-input>
      </b-col>
      <b-col>
        <label>Text 2</label>
        <b-form-input v-model="form.text2"></b-form-input>
      </b-col>
      <b-col cols="1" style="margin-top: 29px">
        <b-button @click="save()" :disabled="!form.text1 && !form.text1">
          Enviar
        </b-button>
      </b-col>
      <b-col></b-col>
    </b-row>
    <br />
    <b-row>
      <b-col cols="2"></b-col>
      <b-col>
        <b-table striped hover :items="items" :fields="fields">
          <template v-slot:cell(action)="data">
            <b-button variant="primary" @click="edit(data.item)">
              Edit
            </b-button>
            <b-button variant="danger" @click="delet(data.item.id)">
              Delet
            </b-button>
          </template>
        </b-table>
      </b-col>
      <b-col cols="2"></b-col>
    </b-row>
    <SpinnerLoading :mostrar="mostrar" />
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import SpinnerLoading from "./SpinnerLoading.vue";

export default {
  name: "HomeView",
  components: { SpinnerLoading },
  data() {
    return {
      key: "9e303f1f52d36695dff59b38269be3a3",
      api: "http://api.devzinho.com/api/",
      mostrar: false,
      form: {
        id: null,
        text1: null,
        text2: null,
      },
      items: [],
      fields: ["id", "text1", "text2", { key: "action", label: "Ação" }],
    };
  },
  beforeMount() {
    this.getData();
  },
  methods: {
    save() {
      this.mostrar = true;
      let url = this.api + "store";
      let metodo = "POST";
      if (this.form.id) {
        url = this.api + "update/" + this.key;
        metodo = "PUT";
      }
      axios({
        method: metodo,
        url: url,
        data: {
          key: this.key,
          data: this.form,
        },
        headers: { "content-type": "application/json" },
      }).then(
        (response) => {
          this.mostrar = false;
          this.getData();
          this.form.id = null;
          this.form.text1 = null;
          this.form.text2 = null;
          console.log(response.data);
        },
        (error) => {
          this.mostrar = false;
          console.log(error);
        }
      );
    },
    getData() {
      this.mostrar = true;
      var url = this.api + "edit/" + this.key;
      axios
        .get(url)
        .then((response) => {
          this.items = [];
          for (var i = 0; i < response.data.length; i++) {
            this.items.push({
              id: response.data[i].id,
              text1: response.data[i].json.text1,
              text2: response.data[i].json.text2,
            });
          }
          this.mostrar = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    delet(id) {
      Swal.fire({
        title: "Deletar?",
        text: "Não poderá ser recuperado, deseja continuar?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sim",
        cancelButtonText: "Não",
      }).then((result) => {
        if (result.isConfirmed) {
          this.mostrar = true;
          var url = this.api + "destroy/" + this.key + "/" + id;
          axios
            .delete(url)
            .then((response) => {
              console.log(response.data);
              this.mostrar = false;
              this.getData();
              Swal.fire("Deletado com sucesso!", "", "success");
            })
            .catch((error) => {
              console.log(error);
              this.mostrar = false;
              Swal.fire("Erro!", "Não foi possível deletar!", "error");
            });
        }
      });
    },
    edit(item) {
      this.form.id = item.id;
      this.form.text1 = item.text1;
      this.form.text2 = item.text2;
    },
  },
};
</script>
